<!-- Footer -->
<footer class="text-center text-sm-start" style="background-color: #0da2ff; color: #ffffff;">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-sm-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mt-3 mb-4" style="font-size: 15px;">Rapid Appoint</h6>
                    <p style="font-size: 15px;">We offer a platform to for better scheduling of doctor appointments with patients. By providing a system for online booking of doctor appointments, we reduce the time patients have to wait in queues to see a doctor.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-sm-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mt-3 mb-4" style="font-size: 15px;">Our Services</h6>
                    <p><a href="#!" class="text-reset" style="text-decoration: none; font-size: 15px;">Radiology</a></p>
                    <p><a href="#!" class="text-reset" style="text-decoration: none; font-size: 15px;">Obstetrics</a></p>
                    <p><a href="#!" class="text-reset" style="text-decoration: none; font-size: 15px;">Urology</a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-sm-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mt-3 mb-4" style="font-size: 15px;">Contact Us</h6>
                    <p style="font-size: 15px;">Physical Address</p>
                    <p><a href="http://maps.google.com/maps?q=kasarani" style="color: #ffffff; text-decoration: none; font-size: 15px;">Nairobi, Kasarani</a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
<!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center" style="font-size: 15px;">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="/">rappidappointment.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->