{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}  
<div class="container mt-4">
    <div class="about-wrapper" style="margin-top: 150px;">
        <h3 class="text-center mt-3">About Us</h3> 
        <div class="row">
            <div class="col-md-6">
                <h5 class="strong">Lorem ipsum dolor sit amet. </h5>
                <p class="lead">Est doloribus beatae hic ipsa incidunt et deleniti quae et architecto ducimus sit tempore ratione non nihil sunt labore maxime.</p>
            </div>
            <div class="col-md-6">
                <p>Aut quos autem eos corporis unde ut Qui culpa eius sed illo nisi aut reprehenderit accusantium qui.</p>
                <p>Aut quos autem eos corporis unde ut Quis dolorem ut quidem voluptatibus qui inventore quam est earum officia!</p>
            </div>
    
            <div class="row">
                <div class="site-heading text-center">
                    <h5>Aut quos autem eos corporis unde ut</h5>
                    <p>Et dolor reiciendis At natus repellat est vero delectus aut iure rerum. Qui culpa eius sed illo nisi aut reprehenderit accusantium qui vitae deserunt cum quis rerum non animi earum et quia atque.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %} 