{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}  

<div class="container mt-4" style="min-height:100vh; display:flex; flex-direction:column; 
justify-content:space-between;">
    <div class="info-wrapper" style="margin-top: 150px;">
        <h5 class="text-center mt-4">Active Appointments</h5>
        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Doctor's Name</th>
                    <th>Patient's Name</th> 
                    <th>Date</th>
                    <th>Time</th>
                    <th>Appointment Message</th>  
                    <th>Action</th>  

                    <!-- <th>ID</th>
                    <th>Patient Name</th>
                    <th>Phone</th>
                    <th>Email</th> 
                    <th>Address</th> 
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor Name</th>
                    <th>Message</th>
                    <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
            
                {% for appointment in appointments %}
                <tr>
                    <td>{{appointment.id}}</td>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.date}}</td>  
                    <td>{{appointment.time}}</td> 
                    <td>{{appointment.message}}</td> 

                    <!-- <td>{{appointment.id}}</td>
                    <td>{{appointment.patient_name}}</td>
                    <td>{{appointment.patient_phone}}</td>
                    <td>{{appointment.patient_email}}</td>
                    <td>{{appointment.patient_address}}</td>
                    <td>{{appointment.preferred_date}}</td> 
                    <td>{{appointment.preferred_time}}</td> 
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.appointment_message}}</td> -->
                    <td><a href="{% url 'remove-appointment' appointment.id %}" onclick="return confirm('Are you sure you want to delete this appointment?')" class="btn btn-danger">Delete</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'footer.html' %}   
{% endblock content %}