{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}  
<div class="container mt-4" style="min-height:100vh; display:flex; flex-direction:column; 
justify-content:space-between;">
    <div class="contact-wrapper" style="margin-top: 100px;">
        <h3 class="text-center">Contact Us</h3>  
        <div class="row mt-3 text-center">
            <div class="col-md-6 col-sm-6">
                <h5>Send Email</h5>
                <p><a href="mailto:xyz@gmail.com" style="color: #000000; text-decoration: none;">rappidappoint@gmail.com</a></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <h5>Physical Address</h5>
                <p><a href="http://maps.google.com/maps?q=kasarani" style="color: #000000; text-decoration: none;">Nairobi, Kasarani</a></p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}  
{% endblock content %} 