{% extends 'base.html' %}
{% load static %}

<style>
    body{
        background-color: #cccccc;
    }
</style>



{% block content %}
{% include 'navbar.html' %} 
<div id="hero-section" class="hero">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/doc2.jpg' %}" class="d-block w-100" alt="">
            <div class="carousel-caption">
                <div class="background-1">
                    <h2 style="color: #E30B5D;">See Our Doctors Conveniently and Easily</h2> 
                
                    <a href="{% url 'request-appointment' %}"><button class="btn" style="background-color: #0da2ff; color: #ffffff; font-size: 25px; margin-top: 50px;">Book An Appointment Now!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------Introduction section--------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------ --> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="#" alt="">
        </div>

        <div class="col-md4" id="introduction"> 
            <h1>
                <h4 class="text-center" style="color: #E30B5D;">Welcome to the Rapid Appoint</h4>
            </h1>
            <p>
                <h6 style="line-height: 25px;">We are revolutionizing doctor appointments by leveraging an online doctor appointment booking technology. We let patients book doctor appointments online, and get to see a doctor at their convenience. We beleive that patients who need to a see a doctor on non-emergency cases should do so with greater convenience.</h6> 
            </p>
            <div class="home-images d-flex ml-auto">
                <img src="{% static 'images/doc1.jpg' %}" alt="" style="width: 400px; height: 300px; margin-right: 10px;">
                <img src="{% static 'images/doc2.jpg' %}" alt="" style="width: 400px; height: 300px; margin-right: 10px;">
                <img src="{% static 'images/doc3.jpg' %}" alt="" style="width: 400px; height: 300px; margin-right: 10px;"> 
            </div> 
        </div>
    </div>
</div>



<!-- ------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------Medical Services------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------ --> 
<div class="container-fluid" id="services" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-12"> 
            <h3 class="text-center text-primary">Our Services</h3>
            <!-- <h5 class="text-center" style="margin-top: 20px;">Medical Services</h5>  -->
        </div> 
    </div> 
</div>

<div class="container-fluid">
    <div class="row owl-carousel owl-theme">
        <div class="col-md-4">
            <div class="card-img">
                <img src="{% static 'images/ortho.jpeg' %}" alt="" style="margin-left:auto; margin-right:auto; width: 70%; height: 250px; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p><strong>Orthopaedic and Surgery</strong></p>
                <p>We treat medical problems that can affect the bones, joints, ligaments, tendons, and muscles. Bone deformities. These may include:
                    <ul>
                        <li>Bone infections</li>
                        <li>Bone tumors</li>
                        <li>Fractures</li>
                        <li>Need for amputation</li>
                        <li>Nonunions: failure of fractures to heal</li>
                        <li>Malunions: fractures healing in a wrong position</li>
                        <li>Spinal deformities</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-img">
                <img src="{% static 'images/radio.jpeg' %}" alt="" style="margin-left:auto; margin-right:auto; width: 70%; height: 250px; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p><strong>Radiology</strong></p>
                <p>The use of imaging technology to diagnose and treat disease. Diagnostic radiology helps health care providers see structures inside your body. Using the diagnostic images, the our radiologists or other physicians can often:
                    <ul>
                        <li>Diagnose the cause of your symptoms</li>
                        <li>Monitor how well your body is responding to a treatment you are receiving for your disease or condition</li>
                        <li>Screen for different illnesses, such as breast cancer, colon cancer, or heart disease</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-img">
                <img src="{% static 'images/obste.jpeg' %}" alt="" style="margin-left:auto; margin-right:auto; width: 70%; height: 250px; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p><strong>Obstetrics and Gynecology</strong></p>
                <p>Obstetrics and gynecology are medical specialties that focus on two different aspects of the female reproductive system. Our specialists provide care to women in all phases of their lives whether they are having a baby or are past menopause.</p>

                
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-img">
                <img src="{% static 'images/paediatrics.jpeg' %}" alt="" style="margin-left:auto; margin-right:auto; width: 70%; height: 250px; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p><strong>Paediatrics</strong></p>
                <p>We are committed to improving the quality of life for every child. Our skilled medical professionals, coupled with a child friendly environment, enable us to deliver outstanding results for patients and families.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-img">
                <img src="{% static 'images/uro.jpeg' %}" alt="" style="margin-left:auto; margin-right:auto; width: 70%; height: 250px; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p><strong>Urology</strong></p>
                <p>This is a branch of medicine that deals with the function and disorders of the urinary system. We’ll work hard to diagnose and treat your condition, so you can be back to your normal activities as soon as possible.</p>
            </div>
        </div>

    </div>
</div>




<!-- ------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------Our Team------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------ --> 

<div class="container-fluid mt-4" id="team">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-primary mt-4" id="heading">Our Team</h3>
        </div>
    </div>

    <div class="row owl-carousel owl-theme">
        <div class="col-md-3">
            <div class="card shadow text-center items">
                <div class="card-body profile-card">
                    <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/doc6.jpeg' %}" alt="" style="width: 200px; height: 180px;"> 
                    <h4 class="card-title" style="font-size: 15px;">Dr.Abc</h4>
                    <h6 class="card-subtitle">Senior Consultant Surgeon</h6>
                    <p class="card-text">MBBS, MS Orthopaedic</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow text-center items">
                <div class="card-body profile-card">
                    <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/doc7.jpeg' %}" alt="" style="width: 200px; height: 180px;">
                    <h4 class="card-title" style="font-size: 15px;">Dr.Xyz</h4>
                    <h6 class="card-subtitle">Gynaecology and Obstetrician</h6>
                    <p class="card-text">MBBS, MD (Internal Medicine)</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow text-center items">
                <div class="card-body profile-card">
                    <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/doc6.jpeg' %}" alt="" style="width: 200px; height: 180px;">
                    <h4 class="card-title" style="font-size: 15px;">Dr.Xyz</h4>
                    <h6 class="card-subtitle">Consultant Physician</h6>
                    <p class="card-text">MBBS, MD (NMC)</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow text-center items">
                <div class="card-body profile-card">
                    <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/doc7.jpeg' %}" alt="" style="width: 200px; height: 180px;"> 
                    <h4 class="card-title" style="font-size: 15px;">Dr.Xyz</h4>
                    <h6 class="card-subtitle">Consultant Physician</h6>
                    <p class="card-text">MBBS, MD (Internal Medicine)</p>
                </div>
            </div>
        </div>

    </div>
</div> 
{% include 'footer.html' %} 
{% endblock content %} 